
.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aliceblue;
    background: linear-gradient(#034001, #078C03);
    min-height: 100vh; /* Define a altura mínima do container como 100% da altura da janela */
  }
  
  
.link-css{
    text-decoration: none;
    color: #ffffff;
}

.button-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 7px;
    width: 200px;
    height: 100px;
    font-weight: bold;
    border: 1.5px solid #333333;
    transition: 0.5s;
    box-shadow: 5px 5px 0px 0px rgba(88, 72, 72, 1);
    text-shadow: 2px 2px 2px rgb(22, 21, 27);
    background-color: #be3300;
    margin: 10px;
    text-decoration: none;
  }
  
  button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }
  
  h4 {
    font-size: 24px; /* Tamanho da fonte */
    margin: 16px; /* Adicionar margem */
    margin-top: 200px;
  }
  
  /* Estilize o rodapé e o cabeçalho como quiser */
  